* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.conteiner {
  width: 1110px;
  margin: 0 auto;
}
.wrap{margin: 0 auto;
  max-width: 1600px;
}
.logo {
  float: left;
  font-family: "Roboto", sans-serif;
  color: #555252;
  font-size: 30px;
  font-weight: 300;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
ul {
  margin-top: 35px;
  float: right;
  list-style: none;
}
a {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #0f0101;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
a:hover {
  color: #1abc9c;
}
li {
  display: inline-block;
  margin-right: 30px;
}
li:last-child {
  margin-right: 0;
}
header {
  margin-bottom: 90px;
}
.baner{ 
  width: 100%;
    max-height: 600px;
    background:url("../img/slide4.jpg")
}
.slider{ margin: 0 auto;
  position: relative;
  max-width: 1170px;
 
  padding: 210px 30px 242px;
}


.slider-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  width: 104px;
  height: 104px;   
}

.left-btn{
  left: 30px;
  background: url(../img/slider_arrow.png), rgb(78, 198, 171, .6);
  background-repeat: no-repeat;
  background-position: center;
}

.right-btn{
  right: 30px;
  background: url(../img/slider_arrowr.png), rgb(78, 198, 171, .6);
  background-repeat: no-repeat;
  background-position: center;
}

.tour-title{
  margin: 0 0 12px 0;
  font-family: 'Roboto-black', sans-serif;
  font-size: 60px;
  line-height: 82px;
  letter-spacing: -1.2px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.tour-txt{
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  color: #fff;
}

.collection{
  max-width: 1170px;
  margin: 0 auto;
  padding: 92px 30px 100px;
  
}
.collectionbg{
  background-color: #e9f0fd;
}
.collection h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: #515151;
  text-align: center;
  padding-top: 100px;
  margin: 0;
  padding-bottom: ;
}
.centr {
  display: block;
  margin: auto;
}
.green_line {
  margin-bottom: 75px;
}
.cards{
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  letter-spacing: -1px;
  color: #515151;
  text-transform: uppercase;
}
.cards-img{
  display: block;
  max-width: 100%;
  height: auto;
}

.coll-list{
  
  list-style: none;
}

.wrap-cards{
  float: left;
  position: relative;
  width: 255px;
  height: 322px;
  margin-right: 30px;
}

.wrap-cards:last-child{
  margin-right: 0;
}
/*.wrap-cards{
  margin: 0;
  padding: 0;
  list-style: none;
}*/

.coll-descp{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.coll-descp h4{
  text-align: left;
  
  width: 255px;
  height: 40px;
  margin: 0;
  padding: 10px 0 10px 15px;
  box-sizing: border-box;
  font-family: 'Roboto-black', sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  background: #323232;
  
}

.coll-descp span{
  position: absolute;
  top: 0;
  right: 0;
  width: 54px;
  height: 40px;
  font-family: 'Roboto-black', sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: right;
  background: #8c8c8c;
  padding: 10px;
  box-sizing: border-box;
  
}

.activedescr h4{
  background: #1abc9c;
}

.activedescr span{
  background: #7fd9c7;
}

.wrap-cards:hover .coll-descp h4{
  background: #1abc9c;
}

.wrap-cards:hover .coll-descp span{
  background: #7fd9c7;
}

.overlay{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 235px;
  height: 260px;
  padding: 80px 34px 74px;
  background-color: rgb(0,0,0,.55);
  opacity: 0;
  
}

.wrap-cards:hover .overlay{
  opacity: 1;
}

.over-active{
  opacity: 1;
}

.social-icons{
  font-size: 0;
}

.social-icons .btn{
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  margin-right: 8px;
  cursor: pointer;
  transition: .5s;
}

.social-icons .heart{
  background: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons .arrows{
  background: url(../img/social-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.social-icons .time{
  background: url(../img/time.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0;
}

.social-icons .cart-btn{
  margin-top: 8px;
  padding-right: 16px;
  width: 100%;
  height: 50px;
  background: url(../img/basket.png) no-repeat 13px 11px, #323232;
  text-align: right;
  border: 1px solid #fff;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: .5s;
}

.social-icons .active-btn{
  background-color: #1abc9c;
  border: none;
}

.btn:hover{
  background-color: #1abc9c;
  border: none;
}

.social-icons .cart-btn:hover{
  background-color: #1abc9c;
  border: none;
}

footer{
  background-color: #323232;
}

.footer-wrap{
  max-width: 1170px;
  margin: 0 auto;
}

.footer-wrap p{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 90px;
  letter-spacing: -0.32px;
  text-align: center;
  color: #fff;
}

.footer-wrap span{
  color: #46bfa9;
}

