$titleFont: 'Kaushan Script', cursive;
$mainFont:  'Montserrat', sans-serif;
$serviceFont: 'Roboto', sans-serif;
$mainColor: #fff;
$headerHover: #fce38a;
$sectionHeadlineColor: #333;
$sectionHeadlineSize: 30px;
$sectionHeadlineHeignt: 36px;
$sectionTitleSize: 24px;
$sectionTitleHeight: 29px;
$headlineDecoration: #f38181;
$serviceLowerHeadlineSize: 14px;
$serviceLowerHeadlineHeight: 17px;
$serviceDescSize: 15px;
$serviceDescHeight: 24px;
$serviceSvgFill: #95e1d3;
$teamTxtSize: 15px;
$teamTxtHeight: 24px;
$teamTxtColor: #999;
$teamTitleColor: #484848;
$teamDescColor: #c3c3c3;
$teamBorder: #f9bd87;
$teamSocialColor: #fce38a;
$teamSocialHover: #f38181;
$teamSvgFill: #fff;
$footerTxtColor: #999;