* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.monseratstyle {
  font-family: "Montserrat", sans-serif;
}
.header-bg {
  max-width: 1920px;
    background: url(../img/eagle-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243,129,129,.9)), to(rgba(252,227,138,.9))), url(../img/eagle-min.jpg);
    background-image: -webkit-linear-gradient(top, rgba(243,129,129,.9) 0%, rgba(252,227,138,.9) 100%), url(../img/eagle-min.jpg);
    background-image: -o-linear-gradient(top, rgba(243,129,129,.9) 0%, rgba(252,227,138,.9) 100%), url(../img/eagle-min.jpg);
    background-image: linear-gradient(to bottom, rgba(243,129,129,.9) 0%, rgba(252,227,138,.9) 100%), url(../img/eagle-min.jpg);
    background-position: center top;
    background-size: cover;
}
header {
  padding-bottom: 210px;
  padding-top: 26px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.link {
  text-decoration: none;
}
.navigation__case {
  width: 615px;
  display: flex;
  justify-content: space-between;
}
.navigation__iteam {
  list-style: none;
}
.logo__link {
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
}

.navigation__link {
  padding-bottom: 7px;
  color: rgb(255, 255, 255);
  display: block;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 3px solid rgba(243, 129, 129, 0);
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.2s linear, border-bottom 0.2s linear;
}
.navigation__link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}
.navigation__item-icon {
  fill: #ffffff;
  width: 30px;
  height: 15px;
}
.navigation__svg {
  width: 18px;
  height: 20px;
  fill: #fff;
}
.title {
  margin: 0;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}
.headline { text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.header__title {
  color: #fff;
  margin-top: 168px;
  margin-bottom: 22px;
  font-size: 72px;
  line-height: 86px;
}
.header__headline {
  text-transform: uppercase;
  color: #fff;
  font-size: 150px;
  line-height: 140px;
  margin-bottom: 120px;
}
.button {
  font-family: "Montserrat", sans-serif;
  display: block;
  padding: 0 30px;
  font-size: 14px;
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: none;
  border: 3px solid #fff;
  cursor: pointer;
}
.button--header {
  margin: 0 auto;
}
.section{
  width: 100%;
}

.service-section{
  padding-top: 44px;
}

.section__title{
  font-size: 24px;
  line-height: 29px;
}

.section__headline{
  margin: 18px 0 64px;
  font-size: 30px;
  line-height: 36px;
  color: #333;

}

.section-headline::after{
  content: '';
  display: block;
  margin: 38px auto 0;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.service-section__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service-section__item{
  width: 334px;
  padding-left: 64px;
  margin-bottom: 98px;
}

.item-container{
  position: relative;
}

.service-section__item:nth-last-of-type(-n + 3){
  margin-bottom: 0;
}

.item-container__headline{
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: 333;
  text-transform: uppercase;
}

.item-container__title{
  margin: 14px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999;
}

.item-container__svg{
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  fill: #95e1d3;
}

.team-section{
  padding-top: 84px;
}

.team-section__txt{
  margin: 0 auto 90px;
  width: 944px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999;
}

.team-section__list{
  margin-bottom: 82px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.team-section__item{
  position: relative;
}

.team-section__item:hover .team-section__team-img{
  -webkit-transform: translate(-10px,-10px);
  -ms-transform: translate(-10px,-10px);
  transform: translate(-10px,-10px);
}

.team-section__item:hover .overlay{
  opacity: 1;
}

.team-section__team-img{
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.team-section__team-title{
  margin: 28px 0 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #484848;
  text-transform: uppercase;
}

.team-section__imb-box{
  background-color: #95e1d3;
}

.team-section__team-txt{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #c3c3c3;  
}

.overlay{
  position: absolute;
  top: -10px;
  left: -10px;
  width: 380px;
  height: 470px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252,227,138,.85)), to(rgba(243,129,129,.85)));
  background: -webkit-linear-gradient(bottom, rgba(252,227,138,.85) 0%, rgba(243,129,129,.85) 100%);
  background: -o-linear-gradient(bottom, rgba(252,227,138,.85) 0%, rgba(243,129,129,.85) 100%);
  background: linear-gradient(to top, rgba(252,227,138,.85) 0%, rgba(243,129,129,.85) 100%);
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.overlay__list{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay__link{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  border-right: 1px solid #f9bd87;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.overlay__link--nobr{
  border-right: none;
}

.overlay__svg{
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: #f38181;
}

.overlay__link:hover{
  background-color: #f38181;;
}

.overlay__link:hover .overlay__svg{
  fill: #fff;
}

.footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0 12px 0;
}

.footer__txt{
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: #999;
}

.footer__txt-decor{
  color: #f38181;
}

.form{
  font-size: 0;
}

.form__email{
  width: 230px;
  padding: 10px 10px 9px 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #cfcfcf;
  border: 1px solid #e7e7e7;
}

.form__submit{
  padding: 15px 33px 13px 33px;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  background-color: #95e1d3;
  border: none;
  cursor: pointer;
}



@media (-webkit-min-device-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .header-wrap{
      background: url(../img/eagle@2x-min.jpg);
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243,129,129,.9)), to(rgba(252,227,138,.9))), url(../img/eagle@2x-min.jpg);
      background-image: -webkit-linear-gradient(top, rgba(243,129,129,.9) 0%, rgba(252,227,138,.9) 100%), url(../img/eagle@2x-min.jpg);
      background-image: -o-linear-gradient(top, rgba(243,129,129,.9) 0%, rgba(252,227,138,.9) 100%), url(../img/eagle@2x-min.jpg);
      background-image: linear-gradient(to bottom, rgba(243,129,129,.9) 0%, rgba(252,227,138,.9) 100%), url(../img/eagle@2x-min.jpg);
      background-position: center top;
      background-size: cover;
  }


}
